.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../Assets/hero_backgound.jpg');
    background-size: cover;
}

.hero-left p {
    color: rgb(8, 41, 102);
    font-size: 100px;
    font-weight: 700; 
}

.hero-latest-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    border-radius: 75px;
    margin-top: 30px;
    background: red;
    color: white;
    font-size: 22px;
    font-weight: 500;
}

@media (max-width:800px) {
    
}


@media (max-width:500px) {
    .hero {
        background: url('../Assets/151374266-800-1067.webp');
        background-size: cover;
    }
    
    .hero-left p {
        font-size: 50px;
        font-weight: 700; 
    }
}