
/*Navigation bar*/
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color:  rgb(8, 41, 102);
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgb(30, 179, 216);
}

.nav-logo p {
    color: rgb(30, 179, 216);
    font-size: 38px;
    font-weight: 600;
}

.nav-login-cart {
    display: flex;
    align-items: center;
    gap: 45px;
}

.nav-login-cart button {
    width: 57px;
    height: 30px;
    outline: none;
    border: 1px solid rgb(30, 179, 216);
    border-radius: 75px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    background: rgb(30, 179, 216);
    cursor: pointer;
}

.nav-login-cart button:active {
    background: rgb(8, 41, 102);
    border: 1px solid rgb(30, 179, 216);
}

.nav-cart-count {
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
}

.cart-icon {
    width: 25px;
    height: 25px;
}

@media (max-width:800px) {
    
}


@media (max-width:500px) {
    .nav-login-cart button {
        width: 57px;
        height: 30px;
        outline: none;
        border: 1px solid rgb(30, 179, 216);
        border-radius: 75px;
        color: rgb(255, 255, 255);
        font-size: 12px;
        font-weight: 500;
        background: rgb(30, 179, 216);
        cursor: pointer;
    }
}